@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*Variáveis*/
:root {
  --bgSite: #f6f6f6;
  --bgCard: #ebe9ea;
  
  --white: #fff;

  --title: #181818;
  --text: #474747;
}

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: Montserrat;
  background-color: var(--bgSite);
}
h1,
h2 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.head-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  background-color: var(--title);
  color: var(--white);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--title);
  height: 60px;
  width: 100%;
}

.bg {
  background: #4b3e3e;
  color: var(--white);
  width: 100%;
  height: 380px;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(img/wallpaper.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.text {
  height: 380px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
}

.text h1,
.text p{
  margin: 20px 0 0;
}

.destaques {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: var(--text);
}

.destaques h1,
.destaques p { 
  margin: 10px 0;
}  

.card {
  height: 210px;
  width: 210px;
  margin: 5px 3px ;
  border-radius: 5px;
  background-color: var(--bgCard);
  float:left;
}

.card img {
  transition: 1s;
  margin-top: 50px ;
}

.card .detalhes {
  transition: 1s;
  opacity: 0;
}

.card:hover img {
  transition: 1s;
  margin-top: -30px;
  transform: rotate(-15deg);
}

.card:hover .detalhes {
  transition: 2s;
  opacity: 1;
}

.detalhes h3,
.detalhes p,
.detalhes .btn {
  margin: 5px;
  transition: 2s;
}

.btn {
  background-color: var(--title);
  color: white;
  font-family: Montserrat;
  font-size: 12pt;
  border: none;
  border-radius: 5px;
  padding: 5px;  
  transition: 0.5s;
}

.btn:hover {
  background-color: var(--text);
  transition: 0.5s;
}

footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
  color: var(--white);
  background-color: var(--title);
}

@media screen and (max-width: 750px) {
  .shoes-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .shoes-bot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
};  